@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using ToDoList.Common.Db
@model IndexModel
@*@{
    ViewData["Title"] = "Home page";
}*@
<div id="tasks-list">
    <div>
        @if (Model.OverdueTasks is not null && Model.OverdueTasks.Count() > 0)
        {
            <div class="list-title"><h2>Overdue</h2></div>
            <div id="main-overdue-tasks-list"> 
                <ul>
                    @foreach (TaskEntity task in Model.OverdueTasks)
                    {
                        <li time datetime="YYYY-MM-DD">
                            <div class="task">
                                <div class="name-and-priority">
                                    @if(task.Priority.Value.Equals(Priority.High))
                                    {
                                        <div class="high-priority">
                                            <img src="~/images/icons/radio-button-on-outline.svg" width="14" height="14" />
                                        </div>
                                    }
                                    else if (task.Priority.Value.Equals(Priority.Medium))
                                    {
                                        <div class="medium-priority">
                                            <img src="~/images/icons/radio-button-on-outline.svg" width="14" height="14" />
                                        </div>
                                    }
                                    else if (task.Priority.Value.Equals(Priority.Low))
                                    {
                                        <div class="low-priority">
                                            <img src="~/images/icons/radio-button-on-outline.svg" width="14" height="14" />
                                        </div>
                                    }
                                    <div class="task-name">
                                        @task.TaskName
                                    </div>
                                </div>
                                @if (task.Description is not null)
                                {
                                    <div class="task-description">
                                        @task.Description;
                                    </div>
                                }
                            </div>

                        <div class="list-buttons">
                                <div class="task-duedate">
                                    @task.DueDate.Value.ToLongDateString()
                                </div>
                            <div class="list-buttons-inner">
                                <div class="list-btn">
                                    <form asp-page-handler="Done" method="post">
                                        <button class="btn btn-default" id="done-button">Done</button>
                                        <input type="hidden" name="id" value=@task.TaskId />
                                    </form>
                                </div>

                                <div class="list-btn">
                                    <form asp-page-handler="Edit" method="post">
                                        <button class="btn btn-default" id="edit-button">Edit</button>
                                        <input type="hidden" name="id" value=@task.TaskId />
                                    </form>
                                </div>

                                    <div class="list-btn">
                                    <form asp-page-handler="Delete" method="post">
                                        <button class="btn btn-default" id="delete-button">Delete</button>
                                        <input type="hidden" name="id" value=@task.TaskId />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </li>
                }
                </ul>
            </div> 
        }

        @if (Model.Tasks is not null && Model.Tasks.Count() > 0)
        {
            <div class="list-title"><h2>Today tasks</h2></div>
            <div id="main-tasks-list"> 
            <ul>
                @foreach(TaskEntity task in Model.Tasks)
                {
                    <li time datetime="YYYY-MM-DD">
                            <div class="task">
                                <div class="name-and-priority">
                                    @if(task.Priority.Value.Equals(Priority.High))
                                    {
                                        <div class="high-priority">
                                            <img src="~/images/icons/radio-button-on-outline.svg" width="14" height="14" />
                                        </div>
                                    }
                                    else if (task.Priority.Value.Equals(Priority.Medium))
                                    {
                                        <div class="medium-priority">
                                            <img src="~/images/icons/radio-button-on-outline.svg" width="14" height="14" />
                                        </div>
                                    }
                                    else if (task.Priority.Value.Equals(Priority.Low))
                                    {
                                        <div class="low-priority">
                                            <img src="~/images/icons/radio-button-on-outline.svg" width="14" height="14" />
                                        </div>
                                    }
                                    <div class="task-name">
                                        @task.TaskName
                                    </div>
                                </div>
                                @if (task.Description is not null)
                                {
                                    <div class="task-description">
                                        @task.Description;
                                    </div>
                                }
                            </div>

                        <div class="list-buttons">
                                <div class="task-duedate">
                                    @task.DueDate.Value.ToLongDateString()
                                </div>
                            <div class="list-buttons-inner">
                                <div class="list-btn">
                                    <form asp-page-handler="Done" method="post">
                                        <button class="btn btn-default" id="done-button">Done</button>
                                        <input type="hidden" name="id" value=@task.TaskId />
                                    </form>
                                </div>

                                <div class="list-btn">
                                    <form asp-page-handler="Edit" method="post">
                                        <button class="btn btn-default" id="edit-button">Edit</button>
                                        <input type="hidden" name="id" value=@task.TaskId />
                                    </form>
                                </div>

                                    <div class="list-btn">
                                    <form asp-page-handler="Delete" method="post">
                                        <button class="btn btn-default" id="delete-button">Delete</button>
                                        <input type="hidden" name="id" value=@task.TaskId />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </li>
                }
                </ul>
            </div>
        }
        else
        {
            <div class="list-title"><h2>No tasks for today :(</h2></div>
        }

    </div>
</div>
